-i https://mirrors.aliyun.com/pypi/simple
fastapi==0.61.1
sqlalchemy==1.3.19
uvicorn==0.11.8
orjson==3.3.1


# extensions模块需要的依赖包
# ------阿里云oss-----
# oss2==2.13.0
# ------华为云obs-----
# esdk-obs-python==3.20.11
# ------AWS S3-----
# boto3==1.17.27

# 测试模块需要用到的依赖包
# pytest==6.1.1
# aioresponses==0.7.0
