#!/usr/bin/python3.7+
# -*- coding:utf-8 -*-
"""
@auth:
@date: 2020-9-13
@desc: ...
"""
from src.settings import settings
from yzrpc.commands import run_from_argv
if __name__ == '__main__':
    run_from_argv(['yzrpc', 'runserver'])


